@import "reset.css";

@font-face {
    font-family: 'ConduITC';
    src: url('../font/ConduITC.eot');
    src: url('../font/ConduITC.eot?#iefix') format('embedded-opentype'),
    url('../font/ConduITC.woff') format('woff'),
    url('../font/ConduITC.ttf') format('truetype'),
    url('../font/ConduITC.svg#ConduITC') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ConduITCLight';
    src: url('../font/ConduITCLight');
    src: url('../font/ConduITCLight?#iefix') format('embedded-opentype'),
    url('../font/ConduITCLight.woff') format('woff'),
    url('../font/ConduITCLight.ttf') format('truetype'),
    url('../font/ConduITCLight.svg#ConduITCLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century';
    src: url('../font/Century');
    src: url('../font/Century?#iefix') format('embedded-opentype'),
    url('../font/Century.woff') format('woff'),
    url('../font/Century.ttf') format('truetype'),
    url('../font/Century.svg#Century') format('svg');
    font-weight: normal;
    font-style: normal;
}

body { background: url("../img/bg_image.png") repeat-x top; font-family: ConduITC, "Arial sans-serif"}

.container { width: 950px; margin:  0 auto; height: 250px; }
.header { width: 950px;  height: 168px; float: left; background: url("../img/flag_bg.png") no-repeat top left; }
.header .headerLeft { float: left; }
.header .headerLeft .logo { width: 118px ; height: 119px; margin: 22px 0 0 16px; float: left; background: url("../img/logo.png") no-repeat center; }
.header .headerLeft .headerMotto { font-size: 25px; color: #ffffff; text-shadow: 1px 1px 4px #000; float: left; margin: 73px 0 0 24px; }
.header .headerRight { float: right; }
.header .headerRight .languageSelect { width: 94px; height: 26px; float: right; margin: 16px 4px 0 0; background: url("../img/langImg.png")}
.header .headerRight .searchLayer { width: 244px; height: 27px; float: right; margin: 60px 4px 0 0;  clear: right;  background: url("../img/searcgImg.png")}

.middle  { width: 1150px; float: left}
.middle .content { width: 950px; float: left}
.middle .content .menu { width: 950px; height: 50px; background: url("../img/menuBg.png") repeat-x top left;}
.middle .content .menu ul { width: 835px;margin-left: 30px; float: left; }
.middle .content .menu ul li{ width: 133px; height: 47px; float: left; font-size: 22px; color: #a3a3a3; line-height: 55px; text-align: center; cursor: pointer; margin-top: 3px;}
.middle .content .menu ul li:hover{ background: url("../img/menuHover.png") no-repeat bottom center;}
.middle .content .leftContent { width: 600px; float: left; margin-left: 37px; margin-top: 32px; }
.middle .content .leftContent .insideContent { float: left; margin-bottom: 15px; }
.middle .content .leftContent .insideContent img { margin-top: 16px; }
.middle .content .leftContent .insideContent p { font-family:  ConduITCLight, "Arial sans-serif"; text-align: justify; line-height: 22px; color: #b5b6b6; font-size: 13px; padding: 8px 11px 0 3px;}
.middle .content .rightContent { width: 242px;  margin-left: 37px; float: left; margin-top: 32px;}
.middle .content .rightContent .chief { width: 240px; }
.middle .content .HeadLine {font-family:  ConduITCLight, "Arial sans-serif"; color : #a3a3a3; font-size: 22px;}
.middle .content .rightContent .chief .chiefDisplay {margin-top: 16px; }
.middle .content .rightContent .chief .chiefDisplay img  {float: left}
.middle .content .rightContent .chief .chiefDisplay span {width: 111px; margin-left: 10px; float: left;  font-size: 13px; margin-bottom: 11px;}
.middle .content .rightContent .chief .chiefDisplay .chiefTitle {color: #ff0000; margin-top: 8px;line-height: 18px;margin-bottom: 9px;}
.middle .content .rightContent .chief .chiefDisplay .chiefName {color: #818181;}
.middle .content .rightContent .chief .chiefDisplay .chiefDetail {color: #a3a3a3;}
.middle .content .rightContent .chief .chiefText {width: 200px; float: left; font-size: 13px; color: #a3a3a3; margin-top: 10px;line-height: 20px;margin-left: 3px;}
.middle .content .rightContent .chief .chiefButton {width: 100px; height: 30px; margin-top: 10px; margin-left: 3px; float: left; font-size: 16px; color: #ffffff; line-height: 33px; text-align: center; background: #589ad2; }
.middle .content .rightContent .newsWrapper { width: 240px; margin-top : 60px; float: left;}
.middle .content .rightContent .newsWrapper .news { width: 240px; margin-top : 10px; float: left;}
.middle .content .rightContent .newsWrapper .news .newsDate { float: left;  }
.middle .content .rightContent .newsWrapper .news .newsDate div { height: 20px; font-family:  Century, "Arial sans-serif"; color: #ffffff ; text-align: center; line-height: 20px;}
.middle .content .rightContent .newsWrapper .news .newsDate .newsMonth { width: 34px; float: left; background: #f77f00; }
.middle .content .rightContent .newsWrapper .news .newsDate .newsYears { width: 51px; float: left; background: #00aebd; }
.middle .content .rightContent .newsWrapper .news .newsTitle { width: 100%; margin: 5px 0 0 0; float: left; color: #ff0000; font-size: 18px; }
.middle .content .rightContent .newsWrapper .news .newsArticle { width: 100%; margin: 5px 0 5px 0; float: left; color: #a3a3a3; font-size: 15px; }
.middle .content .leftContent .insideContent .activityContainer { width: 605px; float: left; margin: 15px 0; }
.middle .content .leftContent .insideContent .activityContainer img { float: left; margin: 5px; border: 5px solid #b8bfcd; }
.middle .content .leftContent .insideContent .activityContainer .imgL5 {  margin-left: 0px !important; }
.middle .content .sponsors  { width: 100%;  float: left }
.middle .content .sponsors span {margin-left: 35px; float: left }
.middle .content .sponsors .sponsorsContainer { width: 900px; margin: 20px 0 20px 35px; float: left; }
.middle .content .sponsors .sponsorsContainer > div { float: left; }
.middle .content .sponsors .sponsorsContainer > a { float: left; }
.middle .content .sponsors .sponsorsContainer .spnsLeftBtn { width: 29px; height: 129px; background: url("../img/leftArrow.png") no-repeat center  }
.middle .content .sponsors .sponsorsContainer .spnsImg {  width: 824px; height: 129px;background: url("../img/sponsors.png") }
.middle .content .sponsors .sponsorsContainer .spnsRightBtn { width: 29px; height: 129px; background: url("../img/rightArrow.png") no-repeat center }
.middle .content .connLeft  { float: left; }
.middle .content .connRight { float: left; }

.middle .content .connLeft .connectionForm { width: 430px; float: left; margin: 40px 0 0 45px;}
.middle .content .connLeft .connectionForm .connFormHeader { color : red;}
.middle .content .connLeft .connectionForm .connForm { float: left; }
.middle .content .connLeft .connectionForm .connForm input[type="button"] { width: 90px; height: 23px; float: right; background: #589ad2; border: none; color: #ffffff; margin-right: 34px; margin-top: 10px;}
.middle .content .connLeft .connectionForm .connForm .formLeft { width: 115px; float: left; }
.middle .content .connLeft .connectionForm .connForm .formLeft span {font-size: 14px; color : #b8b8b8; display: block;  margin-top: 10px;}
.middle .content .connLeft .connectionForm .connForm .formRight  { width: 280px; float: left; }
.middle .content .connLeft .connectionForm .connForm .formRight input { width: 280px;}
.middle .content .connLeft .connectionForm .connForm .formRight textarea {width: 280px; resize: none;}
.middle .content .connRight .connectionMap { width: 430px; float: left; margin-top: 40px;}
.middle .content .connRight .connectionMap input[name="nerden"]{ padding-left: 5px; height: 23px; outline: none; border-color: #589ad2;}
.middle .content .connRight .connectionMap .maps-button { border: none; background: #589ad2; width: 135px; height: 23px;  color: #ffffff;}
.middle .content .connLeft .connectionText  { width: 430px; float: left; clear: left; margin: 50px 0 45px 45px;  }
.middle .content .connLeft .connectionText span  { width: 100px; float: left; color : #ff0000; }
.middle .content .connLeft .connectionText p {  width: 320px; float: left; color : #b8b8b8; }

.advertising { width: 161px; float: left;height: 500px;}
.advertising img { padding: 4px; }

.footer { width: 950px; height: 216px; float: left; background: #04345e;}
.footer .pageUp { width: 100%; float: left; cursor: pointer;}
.footer .pageUp .up { float: right; font-family:  Verdana, "Arial sans-serif"; color: #a3a3a3; font-size: 13px; margin: 5px;}
.footer .pageUp img { float: right; margin: 9px 5px 0 1px;}
.footer .foot { width: 100%; float: left; }
.footer .foot .footerHeadLine { color: #f77f00 !important; margin-bottom: 10px !important; }
.footer .foot > div { width: 140px; height: 153px; margin-top: 40px; margin-left: 15px;  float: left; color: #b8b8b8; }
.footer .foot > div > span { display: block; color: #b8b8b8; margin: 3px 0; }
.footer .foot .outColumn { margin-left: 60px; }
.footer .foot .servicesColumn {}
.footer .foot .countryColumn {}
.footer .foot .connectionColumn{ width: 160px;}
.footer .foot .connectionColumn > div { margin-top: 10px;}
.footer .foot .connectionColumn span {  color: #737373;}
.footer .foot .connectionColumn div .mapIco { float: left;}
.footer .foot .connectionColumn div .mapText { width: 100px; float: left; font-size: 12px; margin: 15px 0 0 5px;}
.footer .foot .socialColumn { float: right !important;}
.footer .foot .socialColumn .socClmContainer { float: right; bottom: 0; margin-top: 96px; margin-right: 5px;}
.footer .foot .socialColumn .socClmContainer img {  cursor: pointer; }