@import "reset.css";

body {
    margin: 0;
    background: #ffffff;
    font-family: Helvetica, 'Arial sans-serif';
}

@import "../../css/reset.css";

a{ cursor : pointer;}

@font-face {
    font-family: 'Helvetica';
    src: url('../font/Helvetica.eot');
    src: url('../font/Helvetica.eot?#iefix') format('embedded-opentype'),
    url('../font/Helvetica.woff') format('woff'),
    url('../font/Helvetica.ttf') format('truetype'),
    url('../font/Helvetica.svg#FrankGotMd') format('svg');
    font-weight: normal;
    font-style: normal;
}



/* login page */
#login .wrapper {width: 100%; height: 100%; min-width: 562px; }
#login .container {width: 562px; height: 246px; margin: 0 auto; margin-top: 200px; font-family: Helvetica, 'Arial sans-serif'; color: #6d7179; background: url("../img/loginBg.png") no-repeat center; }
.container .loginLeft   { width:330px; height: 246px; float: left; }
.container .loginLeft .loginTop     {  height: 55px; float: left;  background: url("../img/line.png") no-repeat bottom center;   }
.container .loginTop span {  display: block; width: 300px;  height: 23px; margin: 18px 18px; font-size: 16px; font-weight: bold; }
.container .loginLeft .loginMiddle  {  height: 110px; float: left; }
.container .loginLeft .loginMiddle div > div { width: 219px; height: 29px; float: left;  background: url("../img/inputBg.png") no-repeat center;  }
.container .loginLeft .loginMiddle span  { font-size: 13px; line-height: 24px;display: inline-block; width:80px; float: left; }
.container .loginLeft .loginMiddle .userNameLayer   {  width:330px ; float: left; margin: 28px 0 0 18px; }
.container .loginLeft .loginMiddle input { width: 200px; height: 29px; margin: auto 10px; float: left; border: none; outline: none; background: transparent;}
.container .loginLeft .loginMiddle .passLayer       {  width:330px ; float: left; margin-left: 18px; margin-top: 15px; }
.container .loginLeft .loginBottom  {  height: 81px; float: left; line-height: 70px; }
.container .loginLeft .loginBottom span {  display: inline-block; float: left; margin-left: 18px; }
.container .loginLeft .loginBottom .SubmitBtn { width: 101px; height: 32px; margin: 20px 10px 0 10px; float: right; background: url("../img/submitButton.png") no-repeat center; }
.container .loginRight  { width:228px; height: 246px; float: left; background: url("../img/hLine.png") no-repeat center left; }
.container .loginRight .loginTop     {  height: 55px; float: left;  background: url("../img/lineR.jpg") no-repeat 18px bottom ;}
.container .loginRight .loginMiddle span { display:inline-block; font-size: 12px; width: 190px; height:90px; line-height: 20px; margin: 18px 0 0 18px; }
.container .loginRight .loginBottom .SignBtn { width: 125px; height: 32px; margin: 12px 0 0 18px; float: left; background: url("../img/signButton.png") no-repeat center; }
.container .loginRight .loginMiddle  {  height: 117px; float: left; }
.container .loginRight .loginBottom  {  height: 74px; float: left; line-height: 70px; }

/* signin page*/

#signin .wrapper { font-family: Helvetica, 'Arial sans-serif'; }
#signin .container { width: 512px; height: 485px; background: #fff; margin: 100px auto; border: 1px solid #777; border-radius : 5px; }
.wrapper .inner { width: 512px;  float: left;  }
.wrapper .inner .innerTop { width: 100%; margin: 22px 0 0 52px; }
.wrapper .inner .innerLeft { width: 256px; float: left; margin-top: 20px; }
.wrapper .inner .innerLeft p { font-size: 14px; color: #777; margin: 18px 0 0 78px; }
.wrapper .inner .innerRight { width: 256px; float: left; margin-top: 30px;  }
.wrapper .inner .innerRight .inputLayer { width: 210px; height: 30px; float: left; background: url("../img/sprite.png"); margin: 1px 0; }
.wrapper .inner .innerRight .inputLayer input[type=text]{ width: 200px; height: 22px; line-height: 22px; border: none; outline: none; margin-top: 2px; margin-left: 3px;}
.wrapper .inner .innerRight select{ width: 204px; height: 24px; border: 0; outline: none; margin-top: 3px;  margin-left: 3px; line-height: 24px; }
select  { *margin-top: 1px;} /* ie 7 */
.wrapper .inner input[type=button] { width: 125px; height: 32px; color: #555; border-radius : 4px; box-shadow: 1px 1px #d1d0d0; text-shadow: 1px 1px #fff; border: none; outline: none; float: right; margin: 25px 52px 0 0; background: url("../img/btnGreen.png") }
.wrapper .inner input[type=button]:hover { color: #fff; text-shadow: 1px 1px #777; box-shadow: 1px 1px #b4b1b1; cursor: pointer;   }
.wrapper .inner .terms { width: 462px; float: left; font-size: 11px; text-align: right; padding: 10px 52px 0 0; cursor: pointer;   }

#admin { background: white; }
.panelRight { width: 100%; min-width: 1070px; }
.headInf { width: 100%; min-width: 1070px; height: 33px; position: static; }
.headInf .information { width: 100%; min-width: 1070px; height: 30px; color: #fff; background: #464646; box-shadow: 0px 1px 4px #000;}
.headInf .information span { padding-left: 17px; font-size: 13px; line-height: 30px; color: #cccccc;}
.adminLeft { float: left; width: 265px; height: 600px; background-color: #ececec; font-family: ConduITC, "Arial sans-serif"; background: url("../img/leftBg.png") right repeat-y }
.adminLeft .menuItems { width:100%; float: left;  cursor: pointer;}
.adminLeft .menuItems:hover { background: #AAAAAA; border-right: 5px solid #ce0000; width: 260px; }
.adminLeft .menuItems a { width: 39px; height: 39px; margin-left: 5px; display: block; float: left; background: url("../img/adminSprite.png"); }
.adminLeft .menuItems #users { background-position: 132px 0px; }
.adminLeft .menuItems #cetegory {background-position: 252px -45px;  }
.adminLeft .menuItems #news {background-position: 266px 0px;  }
.adminLeft .menuItems a span{ padding: 6px 0 0 4px; display: inline-block; line-height:22px; font-family: Helvetica, 'Arial sans-serif'; cursor: pointer; }
.adminLeft .adminLogo { float: left; padding: 10px;  }
.adminLeft .adminLogo img { float: left; }
.adminLeft .adminLogo span { font-size: 12px; padding: 8px 5px; float: left; width: 160px; }
.adminRight { background: #ffffff;  float: left;}
.adminRight .panelHeadText { margin: 15px 0 0 15px; display: inline-block;color: #000000; float: left;}
.adminRight .panelHeadText span { line-height: 42px; margin-left: 10px;}
.adminRight .panelHeadText a { width: 39px; height: 39px; display: block; float: left; background: url("../img/adminSprite.png") -125px 3px no-repeat;  }
.adminRight .panelbox { -webkit-border-radius: 5px; width: 800px; height: 50px;  margin: 10px 0 0 9px;  background: #ececec; border: 1px solid #d6d2d2;
    -moz-border-radius: 5px;
    border-radius: 5px;    }





