@import "reset.css";

@font-face {
    font-family: 'Ubuntu_Condensed';
    src: url('../font/Ubuntu_Condensed.eot');
    src: url('../font/Ubuntu_Condensed.eot?#iefix') format('embedded-opentype'),
    url('../font/Ubuntu_Condensed.woff') format('woff'),
    url('../font/Ubuntu_Condensed.ttf') format('truetype'),
    url('../font/Ubuntu_Condensed.svg#Ubuntu_Condensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('../font/OpenSans-Light.eot');
    src: url('../font/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
    url('../font/OpenSans-Light.woff') format('woff'),
    url('../font/OpenSans-Light.ttf') format('truetype'),
    url('../font/OpenSans-Light.svg#OpenSans-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century_Gothic';
    src: url('../font/gothic.eot');
    src: url('../font/gothic.eot?#iefix') format('embedded-opentype'),
    url('../font/gothic.woff') format('woff'),
    url('../font/gothic.ttf') format('truetype'),
    url('../font/gothic.svg#Century_Gothic') format('svg');
    font-weight: normal;
    font-style: normal;
}

body { font-family: Ubuntu_Condensed, "Arial sans-serif"; overflow-y: hidden;  }
a { text-decoration: none; color: inherit; }
.introLayer { width: 100%; position: absolute; background: #000; float: left; z-index: 9999; min-width: 1263px; }
.introLayer #ligth-corner {z-index: 2;top: 0; left: 0; position: absolute; display: none;}
.introLayer #gatasLogo {position: absolute; left: 50%; margin: 260px 0 0 -343px; z-index: 3;display: none;}
.introLayer #colorShadow { position: absolute; left: 50%; margin: 310px 0 0 -263px; z-index: 4;display: none;}
.introLayer #logoText { position: absolute; left: 50%; margin: 460px 0 0 -293px;  z-index: 5;display: none;}
.introLayer #ligth-shadow1 { position: absolute; margin: -406px 0 0 -430px; z-index: 6;display: none;}
.introLayer #ligth-shadow2 { position: absolute; margin: -397px 0 0 -428px; z-index: 6;display: none;}
.introLayer #light1 { position: absolute; margin: 2px 0 0 5px; z-index: 6; opacity: 0.4;display: none;}
.introLayer #light2 { position: absolute; margin: 50px 0 0 90px; z-index: 7; opacity: 0.7;display: none;}
.introLayer #light3 { position: absolute; margin: 76px 0 0 130px; z-index: 8; opacity: 0.2;display: none;}
.introLayer #light4 { position: absolute; margin: 130px 0 0 250px; z-index: 9; opacity: 0.8;display: none;}
.introLayer #light5 { position: absolute; margin: 150px 0 0 280px; z-index: 9; opacity: 0.8;display: none;}
.introLayer #light6 { position: absolute; margin: 180px 0 0 352px; z-index: 9; opacity: 0.4;display: none;}
.introLayer .shadow { width: 1300px; height: 410px;left: 50%; margin-left: -675px; margin-top: 400px; position: absolute; background: url("../img/shadow.png") no-repeat center; z-index: 1;display: none;}

.languageSelect { position: absolute; left: 50%; margin: 730px 0 0 -25px;  display: none; z-index: 99; cursor: pointer; font-family: Century_Gothic, "Arial sans-serif"; color: #ffffff;}
.languageSelect #tr { display: block !important; float: left; opacity: 0.7;}
.languageSelect #tr:hover { opacity: 1;}
.languageSelect #eng { display: block !important; margin-left: 10px;float: left;opacity: 0.7;}
.languageSelect #eng:hover { opacity: 1;}

.wrapper { width: 100%; float: left; opacity: 0;}
.header { width: 100%; height: 106px; background: #091e2d; border-bottom: 3px solid #20222c; position: relative; float: left; z-index: 999;}
.header .logo { width: 181px; height: 83px; float: left; background: url("../img/logo.png") no-repeat center; margin: 13px 0 0 13px;}
.header .menu {height: 42px;  margin: 38px 0 0 378px; position: absolute; }
.header .menu #nav { height: 71px; float: left; list-style: none; color: #a3a2a5; cursor: pointer; z-index: 11 }
.header .menu #nav li { width: 192px; height: 42px; display: inline-block; list-style: none; font-size: 18px;   }
.header .menu #nav .about { width: 175px; }
.header .menu #nav .about span { background-position: -11px -10px; }
.header .menu #nav .partners {width: 200px;    }
.header .menu #nav .partners span {background-position:  -74px -10px; }
.header .menu #nav .service{ width: 190px;   }
.header .menu #nav .service span {background-position:  -137px -10px; }
.header .menu #nav .products{ width: 140px; }
.header .menu #nav .products span {background-position:  -200px -5px; }
.header .menu #nav .connection{ width: 110px; }
.header .menu #nav .connection span {background: url("../img/sprite.png") no-repeat -261px -8px; }
.header .menu #nav li a {width: 168px; height: 71px; float: left;display: inline-block; text-align: center; line-height: 60px; text-align: left;/* margin: 0 0 0 5px; */}
.header .menu #nav li a span {width: 42px; height: 42px; margin-right: 5px; float: left; display: inline-block;background-image: url("../img/sprite.png"); }
.header .menu #nav .subNav { width: 200px; margin-top: 71px;  display: none;  z-index: 12; position: absolute; background: #20222c;}
.header .menu #nav .subNav li {background-image: none !important; background-color: #20222c;; padding-left: 10px; padding-top: 0px;padding-bottom: 10px;color: #a3a2a5; z-index: 99;}
.header .menu #nav .subNav li a {line-height: 40px !important;}

.content { width: 100%;float: left; min-width: 1170px; position: absolute; }
.content .contentBg { width: 100%; display: none; height: 500px; position: absolute; background: url("../img/bg1.png") no-repeat center; z-index: 0}

.content .leftBtn  { width: 79px; height: 79px; float: left; background: url("../img/sprite.png") no-repeat -86px -130px; margin-left: 15px;  position: absolute;cursor: pointer; z-index: 9}
.content .leftBtn:hover  {background-position: -5px -130px;}
.content .rigthBtn { width: 79px; height: 79px; right:0; background: url("../img/sprite.png") no-repeat -86px -51px; margin-right: 15px; position: absolute; cursor: pointer;z-index: 9}
.content .rigthBtn:hover { background-position: -5px -51px; }
.inner    { width: 1150px; height: 645px; margin: 160px 0 0 -575px; left: 50%; font-family: OpenSans-Light, "Arial sans-serif"; font-size: 22px; color: #fff; background: #091e2d; position: absolute;  z-index: 2;  }


#contentLayers > div {display: none;}
#about p    { font-size: 14px; line-height: 26px; padding: 20px 20px 0 20px;}
#about span    {color: #a7d629; font-weight: bold; font-size: 20px;}
#about span:hover    { color: #81f015; cursor: default; }
#about .slider    {width: 1150px; height: 190px;  float: left;background: #30332E; overflow: hidden;margin-top: 93px;}
#about .slider .capsule   {width: 1950px; height: 170px; margin: 5px 10px; }
#about .slider .capsule .imageLayer  {width: 250px; height: 160px; float: left; margin: 2px 16px; cursor: pointer;}
#about .slider .capsule .imageLayer .front { display: none; width: 250px; height: 160px; position: absolute; background: url("../img/front.png") no-repeat center; padding: 6px 3px;}

.mgLeft {margin-left: 25px !important;}
#products .productCapsule { width: 1105px; height: 485px; position: absolute; margin: 95px 22px; }
#products .productCapsule .productLayer { width: 340px; height: 485px; margin-left: 13px; float: left; }
#products .productCapsule .productLayer .productTop{ width: 340px; height: 195px; float: left; }
#products .productCapsule .productLayer .productTop .productContent { width: 340px; height: 200px; background: #3a86b6; float: left; }
#products .productCapsule .productLayer .productTop .productContent span{padding: 15px; display: inline-block;}
#products .productCapsule .productLayer .productTop .productContent p{padding: 0 15px; font-size: 15px; line-height: 24px;}
#products .productCapsule .productLayer .productTop a{  background: url("../img/sprite.png") no-repeat -11px -219px; display: inline-block; width: 142px; height: 48px; margin-top: 30px;}
#products .productCapsule .productLayer .productTop a:hover{  background-position:  -11px -269px; }
#products .productCapsule .productLayer .productFront { display: none; width: 340px; height: 195px; position: absolute; background: url("../img/productFront.png") no-repeat center; cursor: pointer;}

.servicesCapsule { width: 1050px; height: 468px;  margin: 90px auto;}
.servicesCapsule .space { margin-left: 50px; }
.servicesCapsule .picturesLayer { width: 488px; height: 468px; float: left; border: 5px solid rgb(117, 191, 194);}
.servicesCapsule .picturesLayer .pictureFront { display: none; width: 488px; height: 469px; position: absolute; background: #ffffff; opacity: 0.4; filter: alpha(opacity=40); cursor: pointer; }
.servicesCapsule .picturesLayer span { margin: 0 auto; display: block; font-family: Ubuntu_Condensed, "Arial sans-serif"; text-align: center; height: 95px; line-height: 87px; font-size: 30px; cursor: pointer; }
.servicesCapsule .picturesLayer .picturesSubText { width: 488px; height: 95px; background: #3791c4; float: left}

#services .sevicesMenu {width: 1135px; height: 605px; margin: 10px; }
#services .sevicesMenu div {width: 366px; height: 605px; float: left; text-align: center ; border: 5px solid transparent; }
#services .sevicesMenu div:hover { background: #6699cf; border: 5px solid #ffffff; cursor: pointer;}
#services .sevicesMenu div img {margin-top: 10px; border: 5px solid white;}
#services .sevicesMenu div span { display: inline-block; text-align: center; color: #3791c4; font-size: 28px; font-weight: 600; padding: 50px; background: rgb(0, 214, 255); width: 225px;}

#connection .connCapsule { width: 100%; display: inline-block;  }
#connection .connCapsule .connLeft  {width: 600px; float: left; margin-top: 10px; font-size: 17px;}
#connection .connCapsule .connLeft .sendBtn { float: left; width: 100%; cursor: pointer;}
#connection .connCapsule .connLeft input[type="submit"] { width: 128px; height: 50px; float: right; border: none; display: block; background: url("../img/sprite.png") no-repeat -159px -217px;}
#connection .connCapsule .connLeft input[type="submit"]:hover { background-position: -159px -268px;}
#connection .connCapsule .connLeft span { float: left; display: block; line-height: 50px; margin-top: 30px; margin-bottom: 30px; width: 120px; margin-left: 25px;}
#connection .connCapsule .connLeft input { float: right; width: 423px; height: 50px; padding: 3px; margin-top: 30px; margin-bottom: 30px;}
#connection .connCapsule .connLeft textarea { width: 423px; float: right; resize: none;  padding: 3px; margin-top: 30px; margin-bottom: 30px;}
#connection .connCapsule .connRight { float: left;  }
#connection .connCapsule .connRight .map {width: 490px; height: 355px;  margin: 40px 20px 20px 20px;}
#connection .connCapsule .connRight .adressText { width: 490px; font-size: 15px; float: left;margin-left: 20px; line-height: 26px;}
#connection .connCapsule .connRight .adressText span{ font-size: 18px;font-weight: bold; color: #81f015;}

.footer {position: absolute; bottom: 0; width: 100%; height: 30px; background: #091e2d; line-height: 30px;}
.footer span {color: white;}
.footer .calcText {   margin: 0px 0 0 80px; cursor: pointer;    float: left;}
.footer .calculator { width: 50px; position: absolute; float: left; background: url("../img/calculator.png"); height: 69px; bottom: 7px; margin: -31px 0 0 15px; cursor: pointer;}
.footer .downloadLayer {width: 500px; float: left; height: 48px; margin-top: -20px;line-height: 68px;}

#generalLigths {}
.productDetails { width: 1133px; height: 600px;  margin: 20px 20px 20px 13px;}
.productDetails .detailImage { width: 275px; height: 140px;  float: left; margin: 3px;}
.productDetails .detailImage .detailImageFront { width: 275px; height: 140px; position: absolute;   display: none; text-align: center; line-height: 150px; opacity: 0.6; background: #2B2B2B; color: #FFFFFF;}
